h1{
    align-items: center;
    padding-left: 345px;
}
/* img{
  align:center;
  padding-left: 190px;
} */
.nav-link-1  {
    padding-left: 800px;

}
.nav-link-active {
  background-color: black;
  color: white;
}
.col-md-4{
height
}
